body{
	background: #f2f2f2;
	font-size: 16px;
	font-family: "Open Sans",sans-serif;
}

/* --- --- Barra lateral --- --- */

.barra-lateral{
	background: #262a34;
	color: #fff;
	min-width: 300px;
	min-height: 100vh;
	padding: 0;
}

.barra-lateral a{
	color:#fff;
}

/* --- --- Logo --- --- */

.barra-lateral .logo{
background: #0275db;
margin-bottom: 2px;
}

.barra-lateral .logo h2{
	font-size: 30px;
	font-family: 'Roboto' ,sans-serif;
	padding: 20px 0;
	text-align: center;
	font-weight: 300;
	margin: 0;
}

/* --- --- Menu --- ---*/

.barra-lateral .menu a{
	display: block;
	padding: 20px;
	font-family:  'Roboto' ,sans-serif;
	font-weight: 500;
	border-bottom: 1px solid rgba(255,255,255,.1);
}

.barra-lateral .menu a:hover{

	background: #35ae6b;
	text-decoration: none;
}

.barra-lateral .menu a i{
	margin-right: 20px;
	font-weight: normal;
}


